*{
    margin: 0px;
    padding: 0px;
}

.btn{
    background-color:rgb(216, 114, 131) ;
    border-radius: 30px;
    padding: 10px;
    border-style: none;
    color: antiquewhite;
    font-size: 10px;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(234, 232, 229);
    padding: 30px 0px;
    max-width: 100%;
    
    /* max-width: 1440px; */
}
.gamer{
    gap: 30px;
    display: flex;
    align-items: center;
    
}
.gamer-content{
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.gamer-content a{
    text-decoration: none;
}

.gamer-icon{
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: rgb(216, 231, 226);
    border-radius: 7px;
    padding: 5px 5px;
    
}
.gamer-icon:hover {
    border: 2px solid rgb(176, 75, 68);
    cursor: pointer;
  }

.G-amer{
    color: rgb(113, 31, 45);
    font-size: 40px;

}

.youtube{
    width: 40px;
    height: 40px;
}

.youtube-logo{
    width: 50px;
    height: 50px;
    background-color:
}

/* main section- goat container */

.goat-container{
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
   
    align-items: center;

}
.goat-description{
   
    text-align: left;
}


.goat-title{
background-image: linear-gradient(to bottom,rgb(238, 211, 90),rgb(66, 16, 213));
color: transparent;

-webkit-background-clip: text;
}

.sign-in{
    padding: 10px 20px;
    
}

.go-rogue{
    background-color: skyblue;
    padding: 10px 20px;
    font-weight: bold;
}

.buttons{
    display: flex;
    gap: 25px;
    padding: 20px 0px;
}

.goat-icon{
    display: flex;
    align-items: center;
    padding: 8px ;
    gap: 9px;
    
}

.goat{
    font-size: 50px;
}
.goat-img{

}
.goat-img-1{
    width: 500px;
    height: auto;
}
/* we are gamer section */

.w-a-gamer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.w-a-h{
    font-size: 40px;
    font-weight: bold;
}
.w-a-gamer-description{
    width: 30%;
    text-align: right;
}
.w-a-gamer-p{
    font-size: 13px;
    padding: 10px 0px;
}
.w-a-gamer-p-2{
    font-size: 17px;
    padding-top: 10px;
}
.w-a-gamer-img-1{
    width: 600px;
}

/* funny container */

.funny-title{
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.funny-name{
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
}

.funny-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40px;
    padding: 50px;
}

.overly-container{
width: 250px;
height: 300px;
position: relative;
cursor: pointer;

}
.overly-container:hover .overly{
    opacity :1;
    filter: contrast(2px);
    
}

.funny-img-1{
    width: 100%;
    height: 100%;
    display: block;
    
}

.overly{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.5s;
    top: 0;
    left: 0;
    border: 2px solid rgb(243, 14, 14);
    border-radius: 10px;
}


.play-button{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgb(94, 94, 142);
  background-color: white;
  transform: translate(-50%, -50%);
}

  .watch-text{
    position: absolute;
   left :30px; 
   color:rgb(216, 18, 18); 
   font-size :20px; 
   font-weight:bold;
   bottom:60px; 
  }

/* anywhere container */

.anywhere-container{
    display: flex;
    justify-content:space-around;
    margin: 100px 0px;
    align-items: center;
}

.anywhere-description{
   width: 300px; 

}

.anywhere-title{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
}
.anywhere-img{
    display: flex;
}

.anywhere-img-1{
width: 300px; 
}
.anywhere-img-2{
width: 150px; 
height: 150px;
position: relative;
top: 175px;
right: 100px;
}

/* careers section */

/* .career-container{
    background-color: rgb(187, 33, 84);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
.career-img{
width: 50%;
}

.career-description{
width: 50%;
padding: ;

}

.career-img-1{
    width: auto;
} */



.grid-items{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius:50px ;
    border-style: none;
    width: fit-content;
    padding: 0px 10px;
    
}
.grid-items:hover{
    border: 2px solid rgb(14, 2, 2);
    background-color: rgb(212, 212, 224);
    cursor: pointer;
    color: red;
}
.grid-p{
    width: 
}

.grid-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    align-items: center;
    align-content: center;
    place-self: center;
    gap: 60px;
    width: 70%;
    margin: auto;
    padding-bottom: 50px;
    padding-top: 50px;

    
}
/* footer */

.footer-container{
background-color: rgb(17, 17, 50);
padding: 100px;
}


.footer-title{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    color: antiquewhite;
    font-size: 40px;
        font-weight: bold;
   
}

.footer-options{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    padding: 20px;
}

.footer-options a{
    text-decoration: none;
    color: antiquewhite;
    
}

.footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
}
.footer-icons i:hover{
    cursor: pointer;
}
.footer-icons span{
    font-size: 40px;
    color: white;
}

.footer-description{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}
.footer-description a{
    text-decoration: none;
    color: wheat;
}
.footer-p{
    display: flex;
    justify-content: center;
    color: antiquewhite;
}