*{
    margin: 0px;
    padding: 0px;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(234, 232, 229);
    padding: 30px 0px;
    max-width: 100%;
    
    /* max-width: 1440px; */
}
.gamer{
    gap: 30px;
    display: flex;
    align-items: center;
    
}
.gamer-content{
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.gamer-content a{
    text-decoration: none;
}

.gamer-icon{
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: rgb(216, 231, 226);
    border-radius: 7px;
    padding: 0px 5px;
    
}
.gamer-icon:hover {
    border: 2px solid rgb(176, 75, 68);
  }

.G-amer{
    color: rgb(113, 31, 45);

}

.youtube{
    width: 40px;
    height: 40px;
}

.youtube-logo{
    width: 50px;
    height: 50px;
    background-color:
}

/* main section- goat container */

.goat-container{
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
   
    align-items: center;

}
.goat-description{
   
    text-align: center;
}


.goat-title{
background-image: linear-gradient(to bottom,rgb(48, 15, 115),rgb(150, 94, 94));
color: transparent;

-webkit-background-clip: text;
}



}
.goat-img{

}
.goat-img-1{
    width: 500px;
    height: auto;
}
/* we are gamer section */

.w-a-gamer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.w-a-gamer-description{
    width: 30%;
}
.w-a-gamer-img-1{
    width: 600px;
}